p {
  margin-top: 0;
  margin-bottom: 0;
}

.new {
  font-size: 24px;
  font-weight: bold;
  color: red;
  text-align: center;
  margin-bottom: 6px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 2px;
}

.description {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 8px;
}

.price {
  font-size: 14px;
  font-weight: normal;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.buy {
  color: white;
  background-color: rgb(30, 136, 236);
  border: none;
  margin:auto;
  display: block;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;


}